%div.landing
  %section
    %h2 What is it?
    %div.row
      %span.flaticon.flaticon-nodes.col
      %p.col
        Nodebook is an application
        for taking notes and organizing them
        in a non-linear structure.
  %section
    %h2 Why use nodebook?
    %div.row
      %span.flaticon.flaticon-link.col
      %p.col
        Associative approach helps you to recall
        things faster, as long as you remember
        how things are connected with each other.
        Human's memory is associative, so let your
        notes be organized in an easy memorable
        way.

%article
  %section
    %h2 Concepts
    %h3 Node
    %div
      =image_tag 'about-node.svg', class: 'col'
      %p.col
        Think of it as a single note, though it is
        not necessarily a full and multisectioned
        article. It could be index, section or even
        a single definition as well.
      %p
        Nodes have <em>&nbsp;titles&nbsp;</em> which are shown
        on a map to identify it.
  %section
    %h3#map
    %div
      =image_tag 'about-map.svg', class: 'col'
    %p
      <em>Map</em> is a graphical representation of your
      nodebook: all the nodes are shown here
      along with their titles and connections.
      If one node contains a <em>reference</em>
      to the other, there is an edge(line), pointing
      from the referring node to the referred one.

  %section
    %h3#ref Reference
    %p
      One node (let's call it A) could have link to
      another (B). These links could be explicit,
      represented just as link definitions at the
      bottom of node's content.
    %p
      For A to have edge to B there must be a <em>link
      definition</em> in the content of A:
      <pre><code> [edge]: /url/to/edge/definition. </code></pre>
    %p
      Just use that definition somewhere in A's
      content to refer to B:
      <pre><code> nodes are connected by an [edge](). </code></pre>

    %p
      It is not mandatory for link to be defined before usage.
      For simplicity sake it's recommended to put all definitions
      after node's body.

%article
  %h2 Guide
  %section
    %h3 Composing nodes
    %p
      To create new node, click on an empty space on a map
      right where you want new node to be placed. In context
      menu select "Create new node". Here you go, give it a
      name, fill up with content and submit.

    %h3 Editor
    %p
      When creating new node, or editing an existing
      one, you are faced with an <em>editor</em>.
      It is two-sided. One is a text-editor and
      the other is a rendered result, what you will see
      as node's content when you are done.
    %p#mde
      Language of the source text in that text-editor side is
      <a href="http://wikipedia.org/wiki/markdown">markdown</a>.
      There are also some extensions to typeset mathematical formulas
      using <a href="http://wikipedia.org/wiki/LaTeX">LaTeX</a>.
    %p
      To type inline math formulae, surround it with dollar signs($).
      For block math, use double dollar signs. Also see <a href="#examples">
      examples</a>.
    %h2#examples Examples

