%div
  %h1 Nodebook
  %h3 
    All your nodes organized in a memorable way.
  = link_to 'Learn more', about_path
%div
  %nav
    %ul
      %li= link_to 'Sign up', '#'
      or
      %li= link_to 'Log in', '#'
