%center
  %h1 Nodebook
  %h3 
    All your notes organized in a memorable way.
  %br
  %br
  %h3
    Already have an account?
  =link_to 'Log in', new_user_session_path, class: :btn

  %h3
    No? Here is why you should!



  =link_to 'Sign up', new_user_registration_path, class: :btn
  or
  =link_to 'Learn more', about_path, class: :btn
