%div
  %h1 Nodebook
  %h3 
    All your nodes organized in a memorable way.
  = link_to 'Learn more', about_path
%div
  %nav
    %ul
      - if user_signed_in?
        %li= link_to 'Sign up', '#'
        or
        %li= link_to 'Log in', '#'
      - else
        %li= link_to 'My nodebook', user_nodes_path(current_user)
