%h1 Nodes
%div#network_menu.menu.hidden
  %ul
    %li= link_to 'Open',       '#', id: 'network_menu_open'
    %li= link_to 'Edit',       '#', id: 'network_menu_edit'
    %li= link_to 'Add child',  '#', id: 'network_menu_add_child'
%div#instant_new.menu.hidden
%div.main
  %div#network_panel
    = link_to '[+]', node_new_path
  %div#network
