%div#instant_new.menu.hidden
%div#edit_style.menu.hidden
%div.main
  %center
    %h1 My nodebook
    %div#network_panel
      %a.btn{ href: node_new_path }
        %span.icon-16
          = inline_svg 'icons/plus'
        Create new node
    %div#network
