%div#network_menu.menu.hidden
  %ul
    %li= link_to 'Open',       '#', id: 'network_menu_open'
    %li= link_to 'Edit content',       '#', id: 'network_menu_edit'
    %li= link_to 'Add child',  '#', id: 'network_menu_add_child'
%div#instant_new.menu.hidden
%div#edit_style.menu.hidden
%div.main
  %center
    %h1 My nodebook
    %div#network_panel
      %a{ href: node_new_path }
        = inline_svg 'icons/plus'
    %div#network
