%article.row
  %h1= @node.title
%article#preview
  = @node.content
%nav
  - parents = Reference.where(:neighbour_id, @node.id)
  - if parents.any?
    %h3 Up to 
    %ul
      - parents.each do |p|
        %li= link_to p.title, node_path(p) 
