%article
  %center
    %h1= @node.title
%article#node_preview
  %script
    $('#node_preview').html(marked("#{j @node.content.html_safe}"));
%nav
  - parents = Reference.where(:neighbour_id, @node.id)
  - if parents.any?
    %h3 Up to 
    %ul
      - parents.each do |p|
        %li= link_to p.title, node_path(p) 
