//= require 'editor'
//= require 'normalize'

@clprim1: #f7f7f7;
@clprim2: #b9b9b9;
@clprim3: #b05050;
@clprim4: #fbfbfb;

@clseca1: #949494;
@clseca2: #6f6f6f;
@clseca3: #306060;
@clseca4: #cacaca;

@clsecb1: #e6e6e6;
@clsecb2: #adadad;
@clsecb3: #7d9648;
@clsecb4: #f3f3f3;


@text: #5a5a5a;
@link: @clprim3;

@font-face {
  font-family: 'Cutive Mono';
  src: font-url('CutiveMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: font-url('Quicksand-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: font-url('Quicksand-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: font-url('Quicksand-Light.otf') format('opentype');
  font-style: oblique;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: font-url('LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: font-url('LibreBaskerville-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: font-url('LibreBaskerville-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

.clearfix {
  &:after{ clear: both; }
}

.hidden {
  visibility: hidden;
}



@import 'menu.less';

@import 'static_pages.less';
@import 'references.less';
@import 'nodes.less';
body {
  margin: 0px;
  padding: 0px 10%;
  background: @clprim1;
  color: @text;
  font-family: 'Quicksand';
  a {
    text-decoration: none;//
    color: @link;
  }
}
header{
  display: block;
  height: 128px;
  position: relative;
  //background: @clprim2;
  border-bottom: 2px solid @clprim2;
  a {
    top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: @clprim3;
  }

  hgroup{
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    float: left;
    padding-bottom: 16px;
    svg {
      position: relative;
      top: 8px;
      margin-bottom: -8px;
      margin-left: -22px;
      margin-right: -22px;
    }
    font-size: 86px;
    .clearfix;
  }

  nav {
    float: right;
  }
}

footer{
  border-top: 2px solid @clprim2;
  padding: 10px;
  margin-top: 10px;
}

nav{
  margin: 10px;
  li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    border: solid 2px @clprim3;
    border-radius: 24px;
    &:hover{
      background: @clseca1;
    }
    a{
      font-family: 'Quicksand';
      color: @clprim3;
    }
  }
  .clearfix;
}

.main {
  top: 0;
  margin: 0px;
  padding: 0px;
  background: @clprim4;
}

.content{
  padding-left: 10%;
  padding-right: 10%;
}

h1,h2,h3,h4,h5,h6 {
  color: darken(@text,20%);
  font-style: oblique;
}

form {
  padding: 10px;

  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea{
    border-radius: 24px;
    border: 1px solid @link;
    padding: 3px 12px;
    margin-left: 12px;
    font-family: 'Quicksand';
  }

  .input:not(.boolean){
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    label {
      display: inline-block;
      text-align: right;
      width: 6em;
      vertical-align: middle;
    }
  }
  .input.boolean{
    margin-left: 8em;
    padding-left: 24px;
  }
  input[type='submit']{
    background: none;
    .btn
  }

  .hint{
    margin-left: 10px;
    font-size: small;
  }
}

.form-header {
  background: @clsecb3;
  padding: 3px;
  a {
    float: right;
    display: inline-block;
    vertical-align: center;
    .btn-small;
    .clearfix;
  }
}

.btn{
  color: @clprim2;
  border: 2px solid @clprim3;
  border-radius: 24px;
  display: inline-block;
  min-width: 20px;
  text-align: center;
  font-family: 'Quicksand';
  font-weight: bold;
  padding: 1px 7px 4px 7px;
  &:hover{
    background: lighten(@clseca3, 10%);
  }
}


.btn-small{
  .btn;
  border-radius: 12px;
  min-width: 21px;
  padding: 0;
}

.btn-bold{
  font-weight: bold;
}

.btn-danger{
  color: @clprim4;
  background: @clprim3;
}

article {
  font-family: 'Libre Baskerville';
  h1,h2,h3,h4,h5,h6 {
    font-style: normal;
  }
  position: relative;
  width: 76%;
  left: 12%;

  pre {
    background: @clseca4;
    code{
      font-family: 'Cutive Mono';
      color: @clseca3;
    }
  }

  ul li {
    list-style-type: none;
    &:before{
      content: counter(item, disc) ' ';
      color: @clprim3;
    }
  }
}

#md_render {
  font-family: 'Libre Baskerville';
  h1,h2,h3,h4,h5,h6 { font-style: normal; }
  pre {
    background: @clseca4;
    code{
      font-family: 'Cutive Mono';
      color: @clseca3;
    }
  }

  ul li {
    list-style-type: none;
    &:before{
      content: counter(item, disc) ' ';
      color: @clprim3;
    }
  }

}
@keyframes flashShrink{
  from {  }
  to { transform: scaleX(0);}
}
.flash{
  &:before{
    font-weight: bold;
  }
  position: relative;
  padding: 3px;
  display: inline-block;
  left: 13%;
  color: @clprim4;

  transform-origin: 0 0;
  animation-name: flashShrink;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-duration: 0.08s;
  animation-delay: 4s;
}
.notice{
  .flash;
  &:before{
    content: 'NOTICE:';
    color: @clsecb4;
  }
  background: @clsecb3; 
}

.alert{ 
  .flash;
  &:before{
    content: 'ALERT:';
    color: @clprim4; 
  }
  background: @clprim3; 
}

.information{
  max-width: 66%;
  padding: 10px;
}
///
