// Place all the styles related to the Nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#network{
  width: 86%;
  height: 500px;
  border-width: 2px;
  border-style: dotted;
  border-color: @clprim3;
  margin: 10px;
}

#node_content{
  width: 0px;
  height: 0px;
}

#network_panel{
  svg{
    width: 32px;
  }
}
