section {
  h2 { text-align: center; }

  .flaticon:before{
    font-size: 192px;
    margin: 0px 10px;
  }

  &:nth-of-type(2n){
    .row { flex-direction: row-reverse;}
  }

  font-size: 1,3em;
}

article{
  width: 88vw;
  margin-left: 6vw;
}
