.alter{
  height: 256px;
  width: 100%;
  &:after { clear: both; }
  padding: 32px 8px;
}
.alter-pic{
  position: relative;
  width: 33%;
  img{
    width: 100%;
  }
}
.alter-text{
  width: 66%;
}
.alter-left{
  .alter-text { float: left; }
  .alter-pic { float: right; }
  .alter
}
.alter-right{
  .alter-text { float: right; }
  .alter-pic { float: left; }
  .alter
}
